
$siteContentWidth: 1200px;

$siteHeaderHeightDesktop: 70px;
$siteHeaderHeightTablet: 64px;
$siteHeaderHeightMobile: 56px;

$desktopContentPadding: 44px;
$tabletContentPadding: 44px;
$mobileContentPadding: 24px;

$screenTabletLandscape: 1150px;
$screenTabletPortrait: 1000px;
$screenMobile: 750px;
